/* 
    Alticator Editor - ui.css
*/

* {font-family: sans-serif; box-sizing: border-box;}
html, body {margin: 0; overflow: hidden;}
nav {background-color: #505050; color: white; font-size: 18px; padding: 5px; text-align: center;}
nav #controls {float: left;}
nav #controls button {border: none; background-color: #505050; color: white; cursor: pointer; transition: 0.3s;}
nav #controls button:hover {background-color: #808080;}
#edit {resize: none; width: 100vw; height: calc(100vh - 18px - 10px);}
#edit:focus {outline: none;}
button {cursor: pointer;}

.modal-container {z-index: 1; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); overflow: auto;}
.modal {background-color: white; margin: 15% auto; width: 60%;}
.modal-header, .modal-footer {background-color: dodgerblue; padding: 10px; font-size: 36px; color: white;}
.modal-footer button {border: 1px solid white; background-color: white; color: dodgerblue; font-size: 24px;}
.modal-body {color: black; padding: 5px;}